@charset "utf-8";
@font-face{
   font-family: "daniel";
   src: url(../font/daniel.ttf);
}

* { box-sizing: border-box;}

body { 
  font-family: sans-serif; 
  background-color: #ecefea;
  
  margin: 50px auto;
  max-width: 90%;}

  header, #aaa{
    background-color: black;
  }

  .bg-light, .navbar-light{
    background-color: #ecefea !important;
  }

p{
  color: black;
}
.img-thumbnail{
  background-color: #ecefea;
  padding: 0.001px;
}

.vertical-center {
  min-height: 60%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh; /* These two lines are counted as one :-)       */
  background-color: #ecefea;
  display: flex;
  align-items: center;
}


#site-title{
  font-family: "daniel", serif;
}


/* ---- grid ---- */
.grid li {
  display: block;
}
.grid {
  background: #ecefea;
}


/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer{
  width: 12%;
}

/* ---- grid-item ---- */

/*.grid-item {
  width: 15%;
  float: left;
}*/

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }




.grid-item:hover {
  margin:5px;
  line-height: 133px;
  cursor:pointer;
}
.grid img{
	/*max-width: 768px;
	max-height: 768px;*/
  	width: 100%;
  	opacity: 0.8;
}
.grid img:hover{
  opacity: 1;
}
.grid-item--gran {
  width: 50%;
  height: 50%;
  z-index: 2; /* above other items */
}
.grid-item--gran img{
  opacity:  1;
}

#site-title{
  color:#ecefea;
  text-decoration: none;
  font-size: 15px;
}

header a{
  color:white;
  text-decoration: none;
}

footer p,a{
  color:#3a7027;
  text-decoration: none;
}

/* Animation */
.anim {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  /*font-size: 2em;*/
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.aFast{
  animation: animate 5s linear infinite;
}

.aSlow {

   animation: animate 10s linear infinite;
 }

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      border-style: none;
    }

    .container-fluid{
      background-color: #ecefea;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
   
    /* Set black background color, white text and some padding */
    footer {
      background-color: #ecefea;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
    	body { 
			margin: 10px auto;
			max-width: 100%;
		}
      	
      	.sidenav {
        height: auto;
        padding: 15px;
      	}
      .row.content {height:auto;}
      
    }
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      background-color: #222;
      color:#ecefea;
    }